@model Conciliator.App.Models.Extract

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Extract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
